#main {
  height: 100%;
  width: 100%;
}

#canvas {
  margin-top: 10px;
  margin-left: 10px;
  display: block;
  float: left;
}

#controls {
  margin: 10px;
  float: left;
}

.btn {
  margin: 10px;
}
